<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForumApp - {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to ForumApp</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a> 
            {% if session['user_id'] %}
                <a href="{{ url_for('auth.logout') }}">Logout</a>
                <a href="{{ url_for('threads.new_thread') }}">Create new thread</a>
                <a href="{{ url_for('threads.threads') }}">Threads</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    <hr>
    {% block content %}{% endblock %}
    <hr>
    <footer>

    </footer>
</body>
</html>


